@charset "UTF-8";
/*
 *  Base CSS Utilities / Reset
 */
@font-face {
  font-family: ccdm-regular;
  src: url("../fonts/CcdmFont-Regular.otf") format("opentype");
}
*, html  {
  padding: 0;
  margin: 0;
  font-family: ccdm-regular;
  color: #231f20;
}

body {
  overflow: hidden;
}

.hide {
  display: none;
}

.splash-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
  z-index: 999;
}

.splash-screen::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100vw;
  height: 10px;
  background-color: #231f20;
}

.moveOut {
  -webkit-transform: translateY(calc(-100% - 10px)) !important;
          transform: translateY(calc(-100% - 10px)) !important;
}

@-webkit-keyframes splashShow {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes splashShow {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.splash-screen .logo {
  opacity: 0;
  -webkit-animation: splashShow 60s;
          animation: splashShow 60s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  width: 250px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.splash-screen .logo > img {
  width: 250px;
}

.splash-screen > .splash-button {
  opacity: 0;
  -webkit-animation: splashShow 60s;
          animation: splashShow 60s;
  padding: 10px;
  margin-top: 20px;
  border: 4px solid #231f20;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  width: calc(25vw - 28px);
  text-align: center;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.splash-screen > .splash-button:hover {
  background-color: #231f20;
  color: white;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  opacity: 0.3;
  z-index: 1;
}

.background > video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: auto !important;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: blur(2px);
          filter: blur(2px);
  z-index: 2;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  /* background-color: rgba(35, 31, 32, 0.92);
  color: white; */
  background-color: rgba(255, 255, 255, 0.701);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu > .logo {
  height: 40px;
  margin: 10px;
}

.menu > .logo > img {
  height: 100%;
}

#fullpage {
  position: absolute;
  /* padding-top: 60px; */
  width: 100vw;
  height: 100vh;
  z-index: 100;
  /* scroll-snap-type: y mandatory; */
}

#fullpage > .page {
  /* scroll-snap-align: start; */
  width: 100%;
  height: 100vh;
  z-index: 101;
}

.fp-controlArrow.fp-next {
  border-left-color: #231f20;
  border-width: 15.4px 0 15.4px 13.6px;
}

.fp-controlArrow.fp-prev {
  border-right-color: #231f20;
  border-width: 15.4px 13.6px 15.4px 0;
}

@media only screen and (min-width: 600px) {
  .fp-controlArrow.fp-next {
    border-width: 26.95px 0 26.95px 23.8px;
  }

  .fp-controlArrow.fp-prev {
    border-width: 26.95px 23.8px 26.95px 0;
  }
}
#fullpage > .page .data {
  width: calc(100% - 20px) !important;
  height: calc(100% - 70px) !important;
  padding: 10px;
  padding-top: 60px;
  /* background-color: rgba(35, 31, 32, 0.9);
  color: white; */
  position: relative;
}

.page .logo {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.page .logo > img {
  width: 100%;
  max-width: 50vw;
  padding-bottom: 30px;
}

.page .go-down {
  color: white;
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 60px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 30px;
  text-align: center;
  padding: 5px;
  /* border: 4px solid rgb(35, 31, 32);
  border-bottom: none;
  background-color: white; */
  cursor: pointer;
}

.page .go-down > img {
  height: 100%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#fullpage article {
  position: relative;
  margin: 20px 10px;
  margin-top: 110px;
  background-color: rgba(35, 31, 32, 0.6);
}

#fullpage article > .title {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 10px;
  font-size: 3.3rem;
  position: absolute;
  top: -2rem;
  left: 0;
}

#fullpage article > .title.yellow {
  color: #e5b03c !important;
  text-shadow: 1px 1px 1px rgba(35, 31, 32, 0.8);
}

#fullpage article > .title.blue {
  color: #4152a2 !important;
  text-shadow: 1px 1px 1px rgba(227, 227, 227, 0.8);
}

#fullpage article > .title.green {
  color: #26ba22 !important;
  text-shadow: 1px 1px 1px rgba(227, 227, 227, 0.8);
}

#fullpage article > .title.pink {
  color: #ed235f !important;
  text-shadow: 1px 1px 1px rgba(35, 31, 32, 0.8);
}

#fullpage article > .desc {
  max-height: calc(100vh - 140px);
  overflow: scroll;
  font-family: sans-serif !important;
  color: white;
  padding: 10px;
}

#fullpage article > .desc > .profile {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60vw;
  max-width: 500px;
  max-height: 35vh;
  overflow: hidden;
  z-index: 300 !important;
}

#fullpage article > .desc > .profile > img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  float: right;
  z-index: 301 !important;
}

#fullpage article > .desc > .text {
  padding-top: 1.5rem;
  font-family: inherit !important;
  color: inherit !important;
  z-index: 200 !important;
}

#fullpage .slide article > .desc > .text {
  padding-left: 20px;
  padding-right: 20px;
  z-index: 200 !important;
}

#fullpage article > .desc > .text ul {
  margin-left: 20px !important;
  list-style-type: none;
}
#fullpage article > .desc > .text ul:last-child {
  margin-bottom: 10px;
}

#fullpage article > .desc > .text * {
  font-family: inherit !important;
  color: inherit !important;
  padding-bottom: 15px;
  line-height: 1.3rem;
  font-size: 1rem;
  z-index: 201 !important;
}
#fullpage article > .desc > .text *:last-child {
  padding-bottom: 0;
}

@media only screen and (min-width: 600px) {
  #fullpage article {
    position: relative;
    margin: 30px 30px;
    margin-top: 110px;
    background-color: rgba(35, 31, 32, 0.6);
  }

  #fullpage article > .title {
    font-size: 4rem;
  }

  #fullpage article > .desc > .profile {
    max-width: 30vw;
  }

  #fullpage article > .desc {
    height: calc(80vh - 170px);
    padding: 30px;
  }

  #fullpage article > .desc > .text {
    padding-top: 2rem;
  }

  #fullpage article > .desc > .text * {
    line-height: 1.7rem;
    font-size: 1.4rem;
  }
}
/*
 *  CSS Components Import
 */
/*
 *  Media query example
 */
/*# sourceMappingURL=main.css.map */