/*
 *  Base CSS Utilities / Reset
 */
 
@font-face {
    font-family: ccdm-regular;
    src: url("../fonts/CcdmFont-Regular.otf") format("opentype");
}

*, html {
    padding: 0;
    margin: 0;
    font-family: ccdm-regular;
    color: rgb(35, 31, 32);
}

body { overflow: hidden; }
.hide{ display: none; }