.page .logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.page .logo > img{
    width: 100%;
    max-width: 50vw;
    padding-bottom: 30px;
}

.page .go-down{
    color: white;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60px;
    transform: translateX(-50%);
    height: 30px;
    text-align: center;
    padding: 5px;
    /* border: 4px solid rgb(35, 31, 32);
    border-bottom: none;
    background-color: white; */
    cursor: pointer;
}

.page .go-down > img{
    height: 100%;
    transform: rotate(90deg);
}