#fullpage article{
    position: relative;
    margin: 20px 10px;
    margin-top: 110px;
    background-color: rgba(35, 31, 32, 0.6);
}

#fullpage article > .title{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 10px;
    font-size: 3.3rem;
    position: absolute;
    top: -2rem;
    left: 0;
}

#fullpage article > .title.yellow{
    color: rgb(229, 176, 60) !important;
    text-shadow: 1px 1px 1px rgba(35, 31, 32, 0.8);
}

#fullpage article > .title.blue{
    color: rgb(65, 82, 162) !important;
    text-shadow: 1px 1px 1px rgba(227, 227, 227, 0.8);
}

#fullpage article > .title.green{
    color:rgb(38, 186, 34) !important;
    text-shadow: 1px 1px 1px rgba(227, 227, 227, 0.8);
}

#fullpage article > .title.pink{
    color:rgb(237, 35, 95) !important;
    text-shadow: 1px 1px 1px rgba(35, 31, 32, 0.8);
}

#fullpage article > .desc{
    max-height: calc(100vh - 140px);
    overflow: scroll;
    font-family: sans-serif !important;
    color: white;
    padding: 10px;
}

#fullpage article > .desc > .profile{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60vw;
    max-width: 500px;
    max-height: 35vh;
    overflow: hidden;
    z-index: 300 !important;
}

#fullpage article > .desc > .profile > img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    float: right;
    z-index: 301 !important;
}

#fullpage article > .desc > .text{
    padding-top: 1.5rem;
    font-family: inherit !important;
    color: inherit !important;
    z-index: 200 !important;
}

#fullpage .slide article > .desc > .text{
    padding-left: 20px;
    padding-right: 20px;
    z-index: 200 !important;
}

#fullpage article > .desc > .text {
    & ul {
        margin-left: 20px !important;
        list-style-type: none;

        &:last-child {
            margin-bottom: 10px;
        }
    }
}

#fullpage article > .desc > .text *{
    font-family: inherit !important;
    color: inherit !important;
    padding-bottom: 15px;
    line-height: 1.3rem;
    font-size: 1rem;
    z-index: 201 !important;

    &:last-child {
        padding-bottom: 0;
    }
}

@media only screen and (min-width: 600px) {
    #fullpage article{
        position: relative;
        margin: 30px 30px;
        margin-top: 110px;
        background-color: rgba(35, 31, 32, 0.6);
    }

    #fullpage article > .title{
        font-size: 4rem;
    }

    #fullpage article > .desc > .profile{
        max-width: 30vw;
    }

    #fullpage article > .desc {
        height: calc(80vh - 170px);
        padding: 30px;
    }

    #fullpage article > .desc > .text{
        padding-top: 2rem;
    }

    #fullpage article > .desc > .text *{
        line-height: 1.7rem;
        font-size: 1.4rem;
    }
}